.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff6fc;
  padding-bottom: 200px; //   min-height: 500px;
  text-align: justify;

  a {
    text-decoration: underline;
  }
  h2 {
    padding-top: 35px;
  }
  p {
    width: 50%;
    font-size: 13pt;
    margin-bottom: 5px;
  }
  ol {
    width: 50%;
    padding-top: 15px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 13pt;
    list-style: disc;
  }
}

@media (max-width: 500px) {
  .contactWrapper {
    text-align: left;
    p,
    ol {
      width: 80%;
    }
  }
}
